<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upc.fib.racopocket">

    <!-- Permisions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/generalNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="raco"
                    android:scheme="raco" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MainMenuTheme" />
        <activity
            android:name=".Activities.AboutActivity"
            android:theme="@style/generalNoTitle" />
        <activity android:name=".Activities.NotificationDetailsActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>